.venv/
venv/
__pycache__/
*.pyc
.git/
.vscode/
image-dataset/
model/
server/b64.txt
server/opencv/haarcascades/haarcascade_frontalcatface.xml
server/opencv/haarcascades/haarcascade_frontalcatface_extended.xml
server/opencv/haarcascades/haarcascade_fullbody.xml
server/opencv/haarcascades/haarcascade_lowerbody.xml
server/opencv/haarcascades/haarcascade_upperbody.xml
server/opencv/haarcascades/haarcascade_russian_plate_number.xml
server/opencv/haarcascades/haarcascade_licence_plate_rus_16stages.xml
server/opencv/haarcascades/haarcascade_smile.xml
*.log
render.yaml
Procfile
runtime.txt
